<%= render "header" %>

<%# 画面上部のスライダー部分 %>
<div class='slider-contents'>
  <h2 class='new-routine'>
    NEW routine!!
  </h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        生活に関するroutine
      </div>
      <div class="carousel-item">
        鍛えるためのroutine
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- カード -->
<div class="card">
  <h2 class= "check-title">みんなのroutine</h2>
  <ul class='routine-lists'>
    <% if @routines.present? %>
      <% @routines.each do |routine| %>
        <li class='routine'>
          <div class="routine-img-content">
            <%= link_to image_tag(routine.image, class: "routine-img"), "#" %>
            <div class="routine-info">
              <h5 class="routine-name"><%= routine.name %></h5>
              <p class="routine-description"><%= routine.description %></p>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>          
</div>

<%= render "footer" %>
