<%= render "header" %>

<%# 画面上部のスライダー部分 %>
<% if @newroutine.present? %>
  <div class="newroutine">
    <%= link_to image_tag(@newroutine.image, class: "routine-img"), routine_path(@newroutine.id) %>
    <div class="newroutine-text">
      <h6 class="newroutine-logo">New routine !!</h6>
      <h4 class="newroutine-name"><%= @newroutine.name %></h4>
    </div>  
  </div>
<% end %>

<!-- カード -->
<div class="card">
  <h2 class= "check-title">みんなのroutine</h2>
  <ul class='routine-lists'>
    <% if @routines.present? %>
      <% @routines.each do |routine| %>
        <li class='routine'>
          <div class="routine-img-content">
            <%= link_to image_tag(routine.image, class: "routine-img"), routine_path(routine.id) %>
            <h5 class="routine-name"><%= routine.name %></h5>        
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>          
</div>

<%= render "footer" %>
