<%= render "header" %>

<%= form_with model: @routine, url: routines_path, local: true do |f| %>
  <div class="form-group">
    <label for="exampleFormControlFile1">Photos in routine</label>
    <%= f.file_field :image, class:"form-control-file", id:"exampleFormControlFile1" %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">What is routine?</label>
    <%= f.text_area :name, class:"form-control", id:"exampleFormControlInput1", placeholder:"Routine work" %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Category select</label>
    <%= f.collection_select(:category_id, Category.all, :id, :type, {}, {class:"form-control", id:"exampleFormControlSelect1"}) %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Timeframe select</label>
    <%= f.collection_select(:timeframe_id, Timeframe.all, :id, :type, {}, {class:"form-control", id:"exampleFormControlSelect2", size:10}) %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
  <%= f.submit "submit", class:"send" %>
<% end %>