<%= render "header" %>

<div class="routine-show">
  <%= image_tag @routine.image %>
  <%= @routine.name %>
  <%= @routine.description %>
  <%= @routine.category.type %>
  <%= @routine.timeframe.type %>
</div>

<% if current_user.id == @routine.user_id %>
  <%= link_to 'routineの編集', edit_routine_path(@routine.id), method: :get, class: "routine-red-btn" %>
<% end %>

<div class="container">
  <%= form_with(model: [@routine, @comment], local: true) do |f| %>
    <%= f.text_area :text, placeholder: "コメントする", rows: "3" %>
    <%= f.submit "SEND" %>
  <% end %>
  <div class="comments">
    <h4>＜コメント一覧＞</h4>
    <% if @comments %>
      <% @comments.reverse_each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "footer" %>

