<%= render "header" %>


<div class="routine-show">
  <%= image_tag @routine.image %>
  <%= @routine.name %>
  <%= @routine.description %>
  <%= @routine.category.type %>
  <%= @routine.timeframe.type %>
</div>

<% if current_user.id == @routine.user_id %>
  <%= link_to 'routineの編集', edit_routine_path(@routine.id), method: :get, class: "routine-red-btn" %>
<% end %>

<%= render "footer" %>

